@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

body, em {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

body a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: rgb(99, 19, 173);
}

body h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    background: linear-gradient(to right, #5a0f90, #cf0b74);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
}


